$def with(form)
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页—— 并夕夕</title>

<link rel="stylesheet" href="static/reset.css" type="text/css" />
<link rel="stylesheet" href="static/index.css" type="text/css" />
<link href="static/font-awesome.min.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="static/jquery.js"></script>
<script type="text/javascript" src="static/slider.js"></script>
<script type="text/javascript" src="static/superfish.js"></script>

<script type="text/javascript" src="static/custom.js"></script>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

</head>
<body>
<div id="container" class="width">
    <header>
	<div class="width">
        <h1><a href="/"><img src="static/logo.png"></a></h1>
		<nav>
            <ul class="sf-menu dropdown">
                <li class="selected">
                    <a href="#">文字搜索</a>
                </li>
                <li>
                    <a href="/img">识图搜索</a>
                </li>
                <li>
                    <a href="#">友情链接</a>
                    <ul>
                        <li><a href="https://www.jd.com" target="_blank">京东商城</a></li>
                        <li><a href="https://www.suning.com" target="_blank">苏宁易购</a></li>
                        <li><a href="https://www.tmall.com" target="_blank">淘宝天猫</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clear"></div>
        </nav>
    </div>
	<div class="clear"></div>
    </header>

    <div id="intro">
	<div class="width">
		<div class="intro-content">
            <h2>并夕夕，全球领先的数码商城 </h2>
            <p>搜索你正在寻找的数码产品</p>
            <div class="clear"></div>
            <fieldset>
                <form action="\s" method="get">
                    <p>
                        <input title="可选搜索限制：brand：(品牌)/platform：(平台)/parameter：(商品属性)" name="message" id="message" type="text" autofocus autocomplete maxlength="60">
                    </p>
                    <p><input class="formbutton" value="夕夕一下" type="submit" /></p>
                </form>
            </fieldset>
        </div>
    </div>
	</div>
</div>

<footer>
    <div class="footer-content width">
        <ul>
            <li><h4>Kaipeng Zeng</h4></li>
            <li><a href="###">曾锴鹏</a></li>
        </ul>
        <ul>
            <li><h4>Jiahong Li</h4></li>
            <li><a href="###">李嘉鸿</a></li>
        </ul>
        <ul>
            <li><h4>Yanming Liu</h4></li>
            <li><a href="###">刘彦铭</a></li>
        </ul>
        <ul>
            <li><h4>Yifan Lu</h4></li>
            <li><a href="###">卢亦凡</a></li>
        </ul>
        <ul class="endfooter">
            <li><h4>幕后工作者</h4></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="footer-bottom">
        <p>&copy; &nbsp; 电工导C作品 &nbsp; 2019-2020. &nbsp; by &nbsp; 第一组</p>
     </div>
</footer>

</body>
</html>